{% extends "base.html" %}

{% load  static %}


{% block title %}
    register - Wilayapa
{% endblock title %}


{% block css %}
<link rel="stylesheet" href="{% static 'assets/plugins/notifications/css/lobibox.min.css' %} " />
<link href="{% static 'assets/plugins/datetimepicker/css/classic.css' %} " rel="stylesheet" />
<link href="{% static 'assets/plugins/datetimepicker/css/classic.time.css' %}" rel="stylesheet" />
<link href="{% static 'assets/plugins/datetimepicker/css/classic.date.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.min.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock css %}
    

{% block content %}
<div class="col-xl-9 mx-auto">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Generador De QR Productos</h5>
            <div class="my-3 border-top"></div>
            <form id="qrForm" method="POST"> {% csrf_token %}
                {% if not combined_qr_image %}
                <div class="row">
                    <div  class="col-md-6">
                    
                        <div class="input-group mb-3">
                        
                            <!-- Ocultamos los elementos del formulario si la imagen ya existe -->
                            
                            <label class="input-group-text" for="inputGroupSelect01">Productos</label>
                            <select class="form-select" id="inputGroupSelect01" name="productId">
                                {% for producto in productos %}
                                    <option value="{{ producto.id }}">{{ producto.codigo }}</option>
                                {% endfor %}
                            </select>
                            
                        
                        </div>
                    
                    </div>
                    <div  class="col-md-4">
                        <div class="input-group mb-3"> <span class="input-group-text" id="basic-addon3">Cantidad:</span>
                            {{ form.count }}
                        </div>
                        
                    </div>
                    
                    <div class="col-md-2 form-check form-switch d-flex justify-content-end">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" id="aumentar_stock" name="aumentar_stock">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Agregar al Stock?.</label>

                        
                        
                    </div>
                    <div class="col d-flex justify-content-center">
                        <button type="submit" name="form_submit" value="qrForm" class="btn btn-lg btn-primary px-5">Generar QRs</button>
                    </div>
                </div>
                {% endif %}
                
                <!-- Botones para cuando la imagen ya existe -->
                {% if combined_qr_image %}
                    <button type="button" class="btn btn-outline-success px-5 radius-30" id="generateAndPrintButton"><i class="fadeIn animated bx bx-printer"></i> Imprimir QR</button>
                    <button type="button"  class="btn btn-outline-danger px-5 radius-30" id="cancelButton">Cancelar</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>

<script>
    
    // Botón para imprimir el QR
    document.getElementById('generateAndPrintButton').addEventListener('click', function(event) {
        event.preventDefault();  // Prevenir el envío del formulario

        // Obtenemos la URL de la imagen generada en el servidor desde el contexto
        const imageUrl = '{{ combined_qr_image }}';

        // Creamos una nueva ventana para mostrar la imagen y enviarla a imprimir
        const printWindow = window.open('', '_blank');
        printWindow.document.write(`
            <html>
            <head>
                <title>Imprimir Códigos QR</title>
                <style>
                    @page { 
                        size: 7cm auto;
                        margin: 0;
                    }
                    body {
                        margin: 0;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        height: 100vh;
                        padding-top: 0;
                    }
                    img {
                        width: 6.5cm;
                        height: auto;
                        display: block;
                        image-rendering: crisp-edges;
                        image-rendering: pixelated;
                    }
                </style>
            </head>
            <body>
                <img src="${imageUrl}" onload="window.print(); window.close();" />
            </body>
            </html>
        `);
        printWindow.document.close();

        // Después de la impresión, eliminamos la imagen del servidor
        printWindow.onafterprint = function() {
            // Realizamos una solicitud AJAX para eliminar la imagen en el servidor
            fetch('/delete_qr_image/')
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        console.log('Imagen eliminada del servidor.');
                        window.location.reload();  // Recargamos la página
                    } else {
                        console.error('Error al eliminar la imagen:', data.message);
                    }
                })
                .catch(error => console.error('Error en la solicitud AJAX:', error));
        };
    });

    // Botón de "Cancelar" que elimina la imagen y recarga la página
    document.getElementById('cancelButton').addEventListener('click', function() {
        // Realizamos una solicitud para eliminar la imagen
        fetch('/delete_qr_image/')
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    console.log('Imagen eliminada del servidor.');
                    window.location.reload();  // Recargamos la página
                } else {
                    console.error('Error al eliminar la imagen:', data.message);
                }
            })
            .catch(error => console.error('Error en la solicitud AJAX:', error));
    });
</script>


{% endblock content %}




{% block js %}
<script src="https://unpkg.com/@zxing/library@0.18.6/umd/index.js"></script>
<script src="{% static 'mis_js/scannerProd.js' %}" ></script>


<script src="{% static 'assets/plugins/datetimepicker/js/legacy.js' %} "></script>
<script src="{% static 'assets/plugins/datetimepicker/js/picker.js' %}"></script>
<script src="{% static 'assets/plugins/datetimepicker/js/picker.time.js' %}"></script>
<script src="{% static 'assets/plugins/datetimepicker/js/picker.date.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-material-datetimepicker/js/moment.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.min.js' %}"></script>
<script src="{% static 'assets/js/form-date-time-pickes.js' %}"></script>

<!--notification js -->
<script src="{% static 'assets/plugins/notifications/js/lobibox.min.js' %} "></script>
<script src="{% static 'assets/plugins/notifications/js/notifications.min.js' %}"></script>
<script src="{% static 'assets/plugins/notifications/js/notification-custom-script.js' %}"></script>
<script src="{% static 'assets/js/pace.min.js' %}"></script>

{% endblock js %}
    